body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
  font-family: "Consolas","Microsoft JhengHei","Apple LiGothic Medium,Microsoft YaHei","微软雅黑","Arial",sans-serif;
  font-weight: 600;  
}
.App {
  background: #efefef;
}

[role="button"], /* explicit button semantics */
a[href="#"], a[href="#0"] /* Common patterns for the <a> element used as a button */
{
  cursor: pointer;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  text-align: center;
}

.App-header {
  /* background-color: #222;
  padding: 20px;
  color: white; */
  background-color: #c6bdf6;
    padding: 20px;
    color: #353434;
    border: 3px solid rgb(100,88,245);
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.content-area {
  background: #fff;
}
label {
  display: inline-block;
  margin-bottom: 0;
}
.pd40{
  padding-top: 40px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.btn-secondary {
  color: #353434;
  background-color: #fff;
  border-color: #b8bdc0;
}
.btn-pur {
  color: #fff;
  background-color: rgb(100,88,245);
  border-color: rgb(100,88,245);
  margin-bottom: 15px;
}
.btn-purno{
  color: #fff;
  background-color: rgb(100,88,245);
  border-color: rgb(100,88,245);
}
.nav-item a{

    color:  #495057;
    text-decoration: none;
    background-color: transparent;
}
.nav-tabs .nav-link.active {
  color:rgb(100,88,245);
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.creat .nav-link.active {
  color: #fff;
  background-color: #6458FE;
 
}
.creat .nav-link {
  border-color: #e9ecef #e9ecef #dee2e6
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
